body {
	width:80%;
	margin-bottom:6em;
	margin-left:auto;
	margin-right:auto;
}
section {
	margin-top:2em;
	margin-bottom:6em;
}
h1, h2 {
	font-size:1em;
	border-bottom: 2px solid black;
	padding-bottom: 2px;
	display: inline-block;
	margin-bottom:1.5em;
}
table {
	border-collapse: collapse;
	border:solid 1px black;
}
table tr th {
	border:solid 1px black;
	padding:2px;
}
table tr td {
	border-bottom:solid 1px black;
	padding:2px;
}
table tr > td.kakusei {
	border-left:solid 1px black;
	text-align:center;
}
table th:nth-child(n+2):nth-child(-n+27) {
  width: calc(90% / 25);
}
.sleep {
	background-color: midnightblue;
	color:white;
	text-align:center;
}
.sleep_before {
	border-right:solid 1px black;
	background-color: midnightblue;
	clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
.sleep_after {
	border-left:solid 1px black;
	background-color: midnightblue;
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
